.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #444;
}
