.topbar {
  width: 1140px;
  height: 60px;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}

.ticker-container {
  position: absolute;
  width: 100%;
  display: flex;
  animation: scroll-left 15s linear infinite;
  white-space: nowrap;
}

.ticker-text {
  margin: 0;
  padding-right: 50px;
  display: inline-block;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}